In [150]:
import pandas as pd
import numpy as np
import re
import matplotlib
import matplotlib.pyplot as plt
from tqdm import tqdm

In [151]:
matches = pd.read_csv('data_prepared.csv')
matches['match_id'] = range(matches.shape[0])

In [152]:
matches

,assists_p0,assists_p1,assists_p2,assists_p3,assists_p4,assists_p5,assists_p6,assists_p7,assists_p8,assists_p9,...,event_id,clutches_t1,clutches_t2,firstkills_t1,firstkills_t2,Map,time,t1_id,t2_id,match_id
0,3,6,1,0,1,3,5,2,4,1,...,2813.0,0.0,0.0,9.0,15.0,inferno,2017-05-11 13:10,4688,7397,0
1,3,3,4,4,4,2,4,6,2,2,...,2813.0,4.0,0.0,12.0,10.0,overpass,2017-05-11 13:10,7397,4688,1
2,3,3,7,3,5,6,6,2,5,4,...,2833.0,0.0,2.0,14.0,13.0,mirage,2017-05-11 13:00,6745,7897,2
3,5,3,4,4,5,3,3,4,0,3,...,2833.0,2.0,3.0,19.0,9.0,cobblestone,2017-05-11 13:00,7897,6745,3
4,5,4,2,3,4,5,0,1,5,4,...,2639.0,3.0,0.0,8.0,19.0,inferno,2017-05-11 05:20,5752,5973,4
5,1,4,5,2,2,0,3,2,4,1,...,2639.0,2.0,3.0,6.0,12.0,inferno,2017-05-11 05:20,6985,6673,5
6,4,4,3,3,7,5,1,3,0,4,...,2639.0,2.0,3.0,6.0,16.0,cobblestone,2017-05-11 04:30,6985,6673,6
7,4,1,4,4,2,2,0,4,1,3,...,2639.0,1.0,1.0,14.0,7.0,train,2017-05-11 04:25,5973,5752,7
8,1,3,3,5,2,4,3,8,4,7,...,2841.0,2.0,1.0,13.0,11.0,mirage,2017-05-11 04:00,7723,7289,8
9,0,2,5,3,1,4,2,1,0,4,...,2841.0,0.0,0.0,11.0,9.0,train,2017-05-11 04:00,7289,7723,9
10,2,3,4,9,4,2,2,3,3,1,...,2639.0,0.0,1.0,6.0,15.0,inferno,2017-05-11 03:15,7104,5005,10
11,2,3,5,3,3,7,0,7,2,3,...,2729.0,2.0,1.0,11.0,14.0,mirage,2017-05-11 03:10,6290,6615,11
12,5,2,3,2,5,1,2,0,1,2,...,2639.0,2.0,0.0,16.0,2.0,cobblestone,2017-05-11 02:30,5005,7104,12
13,6,2,4,1,4,3,3,2,4,4,...,2729.0,1.0,2.0,12.0,13.0,nuke,2017-05-11 02:25,6290,6615,13
14,2,3,5,4,5,1,4,9,4,2,...,2729.0,3.0,2.0,18.0,12.0,cache,2017-05-11 01:15,5752,5974,14
15,5,7,3,6,1,6,7,6,5,6,...,2639.0,1.0,3.0,15.0,20.0,train,2017-05-11 01:10,6673,6137,15
16,4,2,3,1,0,5,6,5,2,4,...,2729.0,1.0,3.0,13.0,16.0,mirage,2017-05-11 00:10,5974,5752,16
17,3,2,2,3,3,2,4,2,2,4,...,2638.0,0.0,0.0,14.0,14.0,overpass,2017-05-10 22:30,6134,7175,17
18,3,3,0,1,6,6,0,5,8,10,...,2728.0,3.0,1.0,9.0,20.0,train,2017-05-10 22:30,5995,4494,18
19,3,5,1,1,5,4,2,3,0,1,...,2843.0,1.0,0.0,14.0,10.0,cache,2017-05-10 22:10,7701,7673,19
20,4,8,6,7,4,2,5,3,3,2,...,2843.0,2.0,1.0,8.0,20.0,inferno,2017-05-10 22:10,7673,7701,20
21,3,4,5,3,1,3,5,4,1,6,...,2778.0,3.0,2.0,16.0,8.0,mirage,2017-05-10 22:05,7823,6896,21
22,6,2,5,4,3,7,1,8,4,4,...,2820.0,1.0,2.0,9.0,16.0,cobblestone,2017-05-10 21:30,4501,7124,22
23,4,1,4,3,5,0,1,0,3,4,...,2820.0,2.0,1.0,15.0,6.0,overpass,2017-05-10 21:30,7124,4501,23
24,6,2,4,2,1,1,4,3,5,1,...,2728.0,1.0,2.0,20.0,7.0,cobblestone,2017-05-10 21:25,5995,4494,24
25,4,4,5,7,0,1,2,1,1,2,...,2638.0,2.0,0.0,14.0,12.0,inferno,2017-05-10 21:20,7175,6134,25
26,4,1,5,3,6,6,1,3,2,2,...,2820.0,3.0,2.0,9.0,11.0,overpass,2017-05-10 21:10,7668,5422,26
27,5,4,1,2,2,3,1,3,3,1,...,2840.0,3.0,0.0,12.0,12.0,nuke,2017-05-10 21:10,4456,7242,27
28,1,3,3,4,4,3,2,1,3,1,...,2820.0,0.0,3.0,9.0,12.0,train,2017-05-10 21:10,5422,7668,28
29,5,2,1,5,6,3,3,9,3,3,...,2840.0,3.0,2.0,19.0,10.0,train,2017-05-10 21:10,4456,7242,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28142,2,4,7,3,2,7,5,5,5,6,...,1058.0,3.0,1.0,16.0,9.0,inferno,2013-02-13 20:25,4615,4496,28142
28143,5,8,1,3,3,6,3,7,5,2,...,1058.0,1.0,1.0,15.0,14.0,train,2013-02-13 20:22,4501,4611,28143
28144,2,2,5,5,4,4,5,4,6,6,...,1058.0,1.0,0.0,17.0,13.0,train,2013-02-13 20:15,4683,4687,28144
28145,5,12,2,6,5,4,4,7,3,5,...,1058.0,3.0,4.0,17.0,9.0,nuke,2013-02-13 20:15,4686,4490,28145
28146,4,5,3,5,1,7,2,1,1,2,...,1058.0,1.0,4.0,9.0,11.0,inferno,2013-02-13 20:15,4591,4688,28146
28147,1,2,5,3,3,5,4,6,4,7,...,1058.0,1.0,2.0,13.0,14.0,nuke,2013-02-13 20:00,4532,4469,28147
28148,2,5,4,2,7,5,1,1,4,2,...,1058.0,3.0,1.0,12.0,10.0,inferno,2013-02-13 19:00,4496,4488,28148
28149,8,10,5,11,9,8,5,5,6,10,...,1058.0,5.0,1.0,24.0,24.0,inferno,2013-02-13 19:00,4519,4693,28149
28150,4,8,2,4,4,2,6,2,4,2,...,1058.0,1.0,1.0,19.0,10.0,nuke,2013-02-13 19:00,4554,4679,28150
28151,2,6,6,5,4,2,3,1,5,4,...,1058.0,3.0,1.0,7.0,14.0,mirage,2013-02-13 19:00,4689,4611,28151
28152,3,6,5,3,6,1,3,6,0,7,...,1058.0,2.0,2.0,7.0,16.0,nuke,2013-02-13 19:00,4691,4686,28152
28153,4,3,7,1,3,3,6,4,3,2,...,1058.0,2.0,0.0,12.0,9.0,mirage,2013-02-13 19:00,4687,4690,28153
28154,5,3,1,5,10,2,3,3,2,3,...,1058.0,4.0,3.0,12.0,15.0,mirage,2013-02-13 19:00,4694,4688,28154
28155,5,3,2,5,7,0,0,2,1,0,...,1058.0,3.0,0.0,12.0,4.0,train,2013-02-13 19:00,4532,4462,28155
28156,6,5,5,7,10,5,6,2,5,5,...,1056.0,2.0,2.0,13.0,17.0,mirage,2013-02-12 21:00,4555,4532,28156
28157,5,3,5,7,6,3,6,3,2,5,...,1056.0,4.0,2.0,16.0,14.0,train,2013-02-12 19:00,4558,4623,28157
28158,2,2,3,1,1,3,2,1,2,1,...,1049.0,0.0,1.0,9.0,13.0,inferno,2013-02-10 21:30,4555,4411,28158
28159,2,3,5,5,3,1,4,2,2,3,...,1049.0,1.0,0.0,14.0,14.0,train,2013-02-10 21:30,4555,4411,28159
28160,2,8,1,3,2,7,3,2,3,5,...,1049.0,1.0,7.0,14.0,9.0,mirage,2013-02-10 18:00,4547,4467,28160
28161,3,4,1,2,2,3,8,6,1,6,...,1049.0,0.0,0.0,6.0,16.0,nuke,2013-02-10 18:00,4547,4467,28161
28162,2,3,3,1,3,6,3,1,6,2,...,1049.0,0.0,2.0,15.0,13.0,nuke,2013-02-07 22:00,4411,4547,28162
28163,6,5,4,7,2,4,0,3,2,2,...,1049.0,1.0,0.0,11.0,10.0,dust2,2013-02-07 22:00,4547,4411,28163
28164,4,5,7,2,8,3,7,5,8,3,...,1049.0,0.0,1.0,17.0,18.0,dust2,2013-02-06 21:00,4467,4555,28164
28165,5,6,4,4,6,4,2,1,2,1,...,1049.0,0.0,2.0,8.0,12.0,mirage,2013-02-06 21:00,4467,4555,28165
28166,4,5,3,6,7,0,3,3,1,3,...,1041.0,2.0,1.0,16.0,9.0,nuke,2013-02-05 23:00,4626,4658,28166
28167,2,9,2,2,5,1,2,1,3,4,...,1041.0,3.0,1.0,15.0,5.0,nuke,2013-02-05 21:30,4658,4656,28167
28168,2,5,2,5,4,1,2,2,1,0,...,1041.0,0.0,3.0,13.0,8.0,dust2,2013-02-05 21:25,4547,4657,28168
28169,2,5,8,4,6,2,8,5,2,2,...,1041.0,1.0,3.0,16.0,13.0,nuke,2013-02-05 21:00,4623,4552,28169
28170,4,5,4,3,5,7,5,4,7,2,...,1041.0,3.0,4.0,12.0,16.0,train,2013-02-05 19:00,4657,4552,28170
28171,5,0,4,5,0,6,5,4,6,7,...,1041.0,0.0,2.0,17.0,11.0,nuke,2013-02-05 19:00,4623,4502,28171

In [153]:
offset = 5
for i in range(0, len(matches.columns), ofset):
    print(list(matches.columns[i: i+ofset]))

['assists_p0', 'assists_p1', 'assists_p2', 'assists_p3', 'assists_p4']
['assists_p5', 'assists_p6', 'assists_p7', 'assists_p8', 'assists_p9']
['adr_p0', 'adr_p1', 'adr_p2', 'adr_p3', 'adr_p4']
['adr_p5', 'adr_p6', 'adr_p7', 'adr_p8', 'adr_p9']
['deaths_p0', 'deaths_p1', 'deaths_p2', 'deaths_p3', 'deaths_p4']
['deaths_p5', 'deaths_p6', 'deaths_p7', 'deaths_p8', 'deaths_p9']
['fk_diff_p0', 'fk_diff_p1', 'fk_diff_p2', 'fk_diff_p3', 'fk_diff_p4']
['fk_diff_p5', 'fk_diff_p6', 'fk_diff_p7', 'fk_diff_p8', 'fk_diff_p9']
['kills_p0', 'headshots_p0', 'kills_p1', 'headshots_p1', 'kills_p2']
['headshots_p2', 'kills_p3', 'headshots_p3', 'kills_p4', 'headshots_p4']
['kills_p5', 'headshots_p5', 'kills_p6', 'headshots_p6', 'kills_p7']
['headshots_p7', 'kills_p8', 'headshots_p8', 'kills_p9', 'headshots_p9']
['rating_p0', 'rating_p1', 'rating_p2', 'rating_p3', 'rating_p4']
['rating_p5', 'rating_p6', 'rating_p7', 'rating_p8', 'rating_p9']
['p0_id', 'p1_id', 'p2_id', 'p3_id', 'p4_id']
['p5_id', 'p6_id', 'p7_id', 'p8_id', 'p9_id']
['p0_team_id', 'p1_team_id', 'p2_team_id', 'p3_team_id', 'p4_team_id']
['p5_team_id', 'p6_team_id', 'p7_team_id', 'p8_team_id', 'p9_team_id']
['score_t1', 'score_t2', 'score_fh_t1', 'score_fh_t2', 'score_sh_t1']
['score_sh_t2', 'score_er_t1', 'score_er_t2', 'event_id', 'clutches_t1']
['clutches_t2', 'firstkills_t1', 'firstkills_t2', 'Map', 'time']
['t1_id', 't2_id', 'match_id']

In [161]:
def get_team_players_ids(match, team=1, df=matches):
    """team = [1|2]"""
    players_ids = match[['p{}_id'.format(i) for i in range(10)]]
    players_teams_ids = match[['p{}_team_id'.format(i) for i in range(10)]]
    team_one_players_indexes = players_teams_ids==match['t{}_id'.format(team)]
    return list(players_ids[team_one_players_indexes.values])

def is_n_players_in_same_teams(players, team, n=5):
    return sum([p in team for p in players]) >= n

In [160]:
matches['t1_players_ids'] = [get_team_players_ids(match, team=1) for match_id, match in tqdm(matches.iterrows())]
matches['t2_players_ids'] = [get_team_players_ids(match, team=2) for match_id, match in tqdm(matches.iterrows())]

28172it [00:52, 538.69it/s]
28172it [00:50, 557.68it/s]

In [174]:
def get_all_matches_of_team(team, df=matches):
    players_in_t1 = df['t1_players_ids'].apply(lambda players: is_n_players_in_same_teams(players, team))
    players_in_t2 = df['t2_players_ids'].apply(lambda players: is_n_players_in_same_teams(players, team))
    
    return matches[players_in_t1 | players_in_t2]

In [175]:
match = matches.iloc[0]
t1 = get_team_players_ids(match, team=1)
t2 = get_team_players_ids(match, team=2)
t_wrong = get_team_players_ids(matches.iloc[-1], team=1)

(is_n_players_in_same_team(t1, match), 
 is_n_players_in_same_team(t2, match), 
 is_n_players_in_same_team(t_wrong, match))

1742it [00:20, 87.02it/s]

(True, True, False)

In [178]:
match = matches.iloc[0]
team = get_team_players_ids(match, team=2)
get_all_matches_of_team(team)

,assists_p0,assists_p1,assists_p2,assists_p3,assists_p4,assists_p5,assists_p6,assists_p7,assists_p8,assists_p9,...,clutches_t2,firstkills_t1,firstkills_t2,Map,time,t1_id,t2_id,match_id,t1_players_ids,t2_players_ids
0,3,6,1,0,1,3,5,2,4,1,...,0.0,9.0,15.0,inferno,2017-05-11 13:10,4688,7397,0,"[8804, 7964, 9278, 44, 9257]","[10761, 8917, 11219, 10762, 11217]"
1,3,3,4,4,4,2,4,6,2,2,...,0.0,12.0,10.0,overpass,2017-05-11 13:10,7397,4688,1,"[11219, 8917, 10761, 11217, 10762]","[8804, 7964, 9278, 44, 9257]"
30,5,4,1,4,2,3,3,4,1,3,...,0.0,12.0,10.0,train,2017-05-10 21:10,6896,7397,30,"[5385, 8324, 8242, 8549, 2826]","[8917, 10762, 11217, 10761, 11219]"
55,7,4,4,7,1,4,4,3,4,6,...,4.0,17.0,12.0,train,2017-05-10 18:20,7668,7397,55,"[566, 10054, 3373, 7868, 1038]","[11219, 10761, 11217, 8917, 10762]"
56,2,1,1,8,4,5,4,3,8,1,...,3.0,11.0,14.0,overpass,2017-05-10 18:20,7397,7668,56,"[11219, 10761, 11217, 8917, 10762]","[1038, 3373, 7868, 566, 10054]"
57,3,0,10,2,4,3,4,8,4,3,...,0.0,12.0,11.0,inferno,2017-05-10 18:20,7397,7668,57,"[10761, 11219, 8917, 11217, 10762]","[3373, 7868, 1038, 10054, 566]"
65,2,3,4,5,6,2,1,1,1,2,...,0.0,12.0,6.0,cobblestone,2017-05-10 16:20,7397,7615,65,"[11219, 10762, 8917, 11217, 10761]","[13319, 8935, 8530, 13317, 13318]"
66,4,5,6,3,4,2,2,6,2,6,...,0.0,11.0,13.0,train,2017-05-10 16:20,7397,7615,66,"[8917, 11219, 10762, 11217, 10761]","[13318, 8530, 13317, 13319, 8935]"
97,1,5,6,3,2,1,7,3,5,4,...,1.0,9.0,17.0,overpass,2017-05-09 21:45,4468,7397,97,"[322, 356, 4360, 7388, 329]","[10762, 11219, 10761, 11217, 8917]"
115,6,0,10,4,3,3,5,6,5,7,...,2.0,17.0,9.0,inferno,2017-05-09 15:15,7397,4468,115,"[10761, 11219, 8917, 10762, 11217]","[4360, 329, 322, 356, 7388]"
116,5,2,3,0,5,3,4,4,1,2,...,5.0,15.0,9.0,train,2017-05-09 15:15,4468,7397,116,"[329, 7388, 356, 4360, 322]","[10761, 8917, 10762, 11219, 11217]"
195,3,9,7,1,6,2,2,2,0,2,...,0.0,14.0,8.0,mirage,2017-05-07 13:00,7397,7331,195,"[11219, 8917, 10761, 11217, 10762]","[8576, 7775, 7248, 7529, 7821]"
196,2,1,4,1,1,1,1,6,2,4,...,1.0,11.0,9.0,train,2017-05-07 13:00,7331,7397,196,"[7775, 8576, 7248, 7821, 7529]","[10762, 8917, 11219, 10761, 11217]"
242,2,2,3,5,4,2,0,4,4,4,...,3.0,13.0,13.0,train,2017-05-06 21:00,7673,7397,242,"[7926, 9011, 8733, 5440, 13571]","[11219, 11217, 10761, 10762, 8917]"
248,6,3,4,3,2,3,3,4,2,4,...,2.0,15.0,10.0,mirage,2017-05-06 20:00,7397,7673,248,"[10761, 11219, 8917, 10762, 11217]","[5440, 13571, 7926, 8733, 9011]"
275,6,4,6,2,4,6,6,9,5,5,...,0.0,19.0,22.0,cobblestone,2017-05-06 13:00,6978,7397,275,"[9317, 8848, 10404, 8871, 7463]","[8917, 11219, 10761, 10762, 11217]"
276,5,4,2,5,7,3,0,2,3,2,...,1.0,13.0,6.0,mirage,2017-05-06 13:00,6978,7397,276,"[7463, 9317, 8848, 10404, 8871]","[10762, 10761, 11219, 8917, 11217]"
404,1,0,2,5,6,2,2,3,3,6,...,1.0,14.0,15.0,mirage,2017-05-04 13:00,7397,7607,404,"[11219, 10761, 8917, 11217, 10762]","[8574, 9352, 14001, 7321, 8926]"
405,2,4,4,3,3,2,6,3,1,3,...,2.0,12.0,11.0,overpass,2017-05-04 13:00,7607,7397,405,"[9352, 8926, 8574, 7321, 14001]","[11219, 10761, 11217, 8917, 10762]"
515,2,5,2,7,2,3,3,3,2,4,...,0.0,15.0,6.0,mirage,2017-05-01 21:00,7397,7687,515,"[11219, 8917, 10762, 10761, 11217]","[13509, 13507, 13138, 13508, 13506]"
516,5,0,3,1,2,6,0,0,7,5,...,2.0,19.0,8.0,train,2017-05-01 21:00,7687,7397,516,"[13138, 13506, 13508, 13507, 13509]","[10762, 11219, 10761, 11217, 8917]"
569,1,4,10,3,3,4,6,5,3,1,...,1.0,12.0,15.0,train,2017-04-30 13:10,6322,7397,569,"[12031, 11320, 12032, 11323, 13767]","[11219, 10762, 11217, 8917, 10761]"
570,3,5,3,4,3,5,2,1,1,4,...,2.0,14.0,9.0,cobblestone,2017-04-30 13:10,7397,6322,570,"[10762, 8917, 11219, 11217, 10761]","[12032, 12031, 11323, 13767, 11320]"
686,5,1,4,4,4,6,4,6,4,6,...,3.0,16.0,13.0,mirage,2017-04-28 16:00,7397,7836,686,"[11217, 11219, 10762, 10761, 8917]","[4282, 10698, 3154, 2717, 7925]"
689,1,3,7,3,3,3,0,2,3,2,...,0.0,15.0,5.0,cobblestone,2017-04-28 16:00,7397,7836,689,"[11219, 10761, 11217, 10762, 8917]","[7925, 2717, 3154, 4282, 10698]"
806,4,6,1,1,9,1,2,5,2,1,...,3.0,17.0,7.0,train,2017-04-26 13:00,7397,6762,806,"[10762, 10761, 11219, 8917, 11217]","[12126, 10697, 11343, 5328, 10696]"
808,2,2,2,4,6,2,0,4,3,1,...,1.0,7.0,14.0,nuke,2017-04-26 13:00,6762,7397,808,"[5328, 10697, 10696, 11343, 12126]","[8917, 11219, 11217, 10761, 10762]"
893,1,4,4,5,2,7,2,2,3,5,...,3.0,13.0,14.0,cobblestone,2017-04-23 22:15,7397,7692,893,"[11219, 11217, 10761, 8917, 10762]","[5045, 5391, 3332, 3871, 8398]"
894,2,0,4,4,3,1,2,5,7,4,...,0.0,14.0,14.0,overpass,2017-04-23 22:15,7397,7692,894,"[11217, 11219, 10762, 10761, 8917]","[5045, 5391, 3332, 3871, 8398]"
895,4,1,2,3,3,6,5,1,4,6,...,4.0,8.0,16.0,cache,2017-04-23 22:15,7397,7692,895,"[10761, 11217, 11219, 10762, 8917]","[5391, 3871, 5045, 3332, 8398]"
900,7,4,4,5,8,3,2,7,8,10,...,3.0,21.0,14.0,cobblestone,2017-04-23 20:35,7397,7489,900,"[8917, 11217, 11219, 10761, 10762]","[8727, 8368, 499, 11840, 7405]"
909,2,4,2,1,4,0,3,2,3,0,...,0.0,15.0,8.0,train,2017-04-23 19:30,7397,6094,909,"[10762, 8917, 11219, 10761, 11217]","[8789, 8788, 7716, 8790, 8786]"
915,2,9,1,2,4,7,2,4,8,4,...,0.0,14.0,16.0,train,2017-04-23 18:10,7397,6959,915,"[8917, 11219, 10762, 10761, 11217]","[7834, 8412, 2799, 3183, 2407]"
1931,4,0,4,6,4,6,1,2,2,7,...,2.0,16.0,18.0,train,2017-04-05 17:00,7639,7397,1931,"[9294, 9295, 5061, 8784, 9030]","[11219, 10762, 8917, 10761, 11217]"